<div class="pagination" ng-if="pages.length >= 2">
  <ul class="pagination">
    <li >
      <a ng-disabled="currentPage <= 1" ng-click="selectPage(1)">&lt;&lt;</a>
    </li>
    <li >
      <a ng-disabled="currentPage <= 1" ng-click="selectPage(currentPage-1)">&lt;</a>
    </li>
    <li ng-repeat="page in pages" ng-class="{active: page==currentPage}"><a ng-click="selectPage(page)">{{page}}</a>
    </li>
    <li >
      <a ng-disabled="currentPage >= numPages" ng-click="selectPage(currentPage+1)">></a>
    </li>
    <li> <!-- ng-if="currentPage < numPages" -->
      <a ng-disabled="currentPage >= numPages" ng-click="selectPage(numPages)">>></a>
    </li>
  </ul>
</div>
